{% extends 'content-wrapper.html' %} 

{% block title %} About | KawaiiCatBytes {% endblock %} 

{% block content %}
<div class="row1 aboutRow">
  <h2>Hello and welcome!</h2>

  <p>
    My name is Loa (<a href="https://xiacodes.tumblr.com/" title="♡ My blog! ♡">@xiacodes</a>), and I am excited to present this to-do application to you. This project is very special to me as it marks my very first venture into the world of Django. In just two days of learning the framework, I was able to create this application from scratch!
  </p>
  <p>I hope you find this to-do application useful and enjoy using it as much as I enjoyed building it. Your feedback and suggestions are always welcome, as they help me improve and enhance this project, so do so via the <a href="{% url 'contact' %}" title="♡ The contact page! ♡">contact page</a>!</p>
</div>
{% endblock %}
