{% extends 'content-wrapper.html' %} 

{% block title %} Contact | KawaiiCatBytes {% endblock %} 

{% block content %}
<div class="row1 contactRow">
  <h2>Reach me online!</h2>
  <p>♡ <a href="https://xiacodes.tumblr.com/" target="_blank" rel="noopener noreferrer" title="♡ My blog! ♡">My blog</a></p>
  <p>♡ <a href="https://github.com/xiacodes" target="_blank" rel="noopener noreferrer" title="♡ My GitHub! ♡">My GitHub</a></p>
  <p>♡ <a href="https://www.instagram.com/_xiacodes_/" target="_blank" rel="noopener noreferrer" title="♡ My Insta! ♡">My Instagram</a></p>
</div>
{% endblock %}
