{% extends 'content-wrapper.html' %} 
{% load static %}

{% block title %} To-Do App | KawaiiCatBytes {% endblock %} 


{% block content %}
<div class="row1 homeRow">
  <label for="addTextBox">
    <input
      type="text"
      id="addTextBox"
      name="addTextBox"
      title="Add your to-do item"
      class="inputBox"
    />
  </label>
  <button type="button" title="Add" id="addButton" class="">Add</button>
</div>

<div class="row2">
  <ul>
    <li>
      <p>Example list item 1</p>
      <div class="controls">
        <i class="fa-regular fa-pen-to-square"></i>
        <i class="deleteBtn fa-regular fa-trash-can"></i>
      </div>
    </li>
    <li>
      <p>Example list item 2</p>
      <div class="controls">
        <i class="fa-regular fa-pen-to-square"></i>
        <i class="deleteBtn fa-regular fa-trash-can"></i>
      </div>
    </li>
  </ul>
</div>

<hr class="divider">

<p>Add up to 10 to-do list items!</p>
{% endblock %}

{% block scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}
