{% extends 'content-wrapper.html' %} 

{% block title %} Login | KawaiiCatBytes {% endblock %} 

{% block content %}

<form class="row1" id="loginRow1" method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <hr class="divider" />

  <div class="row">
    <label for="usernameLoginBox"
      >Enter username:
      <input
        type="text"
        id="usernameLoginBox"
        name="usernameLoginBox"
        title="Enter your username here"
        placeholder="Enter your username"
        class="inputBox"
        autocomplete="off"
        required
      />
    </label>

    <label for="passwordLoginBox"
      >Enter password:
      <input
        type="password"
        id="passwordLoginBox"
        name="passwordLoginBox"
        title="Enter password here"
        placeholder="Enter your password "
        class="inputBox"
        autocomplete="off"
        required
      />
    </label>

    <hr class="divider" />

    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>

    <button type="submit" title="Login">Login</button>
  </div>
</form>

{% endblock %}
