{% load static %}
<!-- Head START -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link
  rel="shortcut icon"
  href="https://em-content.zobj.net/thumbs/120/softbank/145/smiling-cat-face-with-heart-shaped-eyes_1f63b.png"
  type="image/x-icon"
/>
<link href="https://unpkg.com/pattern.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<title>{% block title %}My Website{% endblock %}</title>
<!-- Head END -->

<!-- Body START -->

<header>{% include 'navbar.html' %}</header>

<main>
  <div class="pattern-cross-dots-lg wrapper">
    <section class="pattern-diagonal-stripes-sm">
      <section class="container">
        <h1>『 KawaiiCatBytes To-Do App 』</h1>
        {% block content %} 

        {% endblock %}
      </section>
    </section>
  </div>
</main>

{% block scripts %}

{% endblock %}
<!-- Body END -->
